################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

**/.vs
**/bin
**/obj

/packages
/src/AliPay/**/*.aar
/src/BaiduMap/**/*.aar
/src/EasyFloat/**/*.aar
/src/Ezviz/**/*.aar
/src/Getui/**/*.aar
/src/Toaster/**/*.aar
/src/WeChat/**/*.aar
/src/DialogX/**/*.aar
/src/PhotoEditor/**/*.aar
/src/Intercom/**/*.aar
.idea/
**/.DS_Store